run = "python3 main.py"
modules = ["python-3.11"]
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 main.py"]

[workflows]
runButton = "Ejecutar Lista_grupo.py"

[[workflows.workflow]]
name = "Ejecutar main.py"
author = 43629579
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[workflows.workflow]]
name = "Ejecutar saludar.py"
author = 43629579
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 saludar.py"

[[workflows.workflow]]
name = "Ejecutar suma.py"
author = 43629579
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 suma.py"

[[workflows.workflow]]
name = "Ejecutar tabla_multiplicar.py"
author = 43629579
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 tabla_multiplicar.py"

[[workflows.workflow]]
name = "Ejecutar edadcinefuncional.py"
mode = "sequential"
author = 43629579

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 edadcinefuncional.py"

[[workflows.workflow]]
name = "Ejecutar arearectangulo.py"
mode = "sequential"
author = 43629579

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 arearectangulo.py"

[[workflows.workflow]]
name = "Ejecutar While.py"
mode = "sequential"
author = 43629579

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 While.py"

[[workflows.workflow]]
name = "Ejecutar Lista.py"
mode = "sequential"
author = 43629579

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 Lista.py"

[[workflows.workflow]]
name = "Ejecutar Hobbies.py"
mode = "sequential"
author = 43629579

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 Hobbies.py"

[[workflows.workflow]]
name = "Ejecutar numerosecreto.py"
mode = "sequential"
author = 43629579

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 numerosecreto.py"

[[workflows.workflow]]
name = "Ejecutar Lista_grupo.py"
mode = "sequential"
author = 43629579

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 Lista_grupo.py"
